{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_pagination %}
{% load comum_extras %}
{% block extra_css %}
<!-- Coloque aqui seus arquivos de estilo -->
{% endblock %}

{% block index %} active {% endblock %}

{% block breadcrumb %}
<section class="content-header">
    <h1>
        Início
        <small>Dados Gerais da Aplicação</small>
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> Index</li>
    </ol>
</section>
{% endblock %}

{% block content %}
<section class="content">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                  <a class="a-span" role="button" data-toggle="collapse" data-parent="#accordion"
                     href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Busca
                  </a>
              </h4>
          </div>
          {% comment %} <button type="button" name="button" class="btn btn-small btn-info pull-right recado" data-id="{{depoimento.id}}" data-toggle="modal" data-target="#exampleModal">Deixe um recado motivador</button> {% endcomment %}
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                  {{ form.errors }}

                  <form action="" method="get">
                      <div class="row">
                          {% for field in form %}
                          <div class="{% if forloop.counter > 1 %} col-md-6 {% else %} col-md-12 {% endif %}">
                              <div class="form-group">
                                  {{ field.label_tag }}
                                  {{ field|add_css_class:"form-control" }}
                              </div>
                          </div>
                          {% endfor %}
                      </div>

                      <div class="underline"></div>

                      <button class="btn btn-success pull-right" type="submit">Buscar</button>
                  </form>
              </div>
          </div>
      </div>
  </div>

</section>
{% if duo %}
  <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Detectamos que você possui dois tipos de perfil, por favor, escolha um!</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" method="post">
      <div class="modal-body">
        <div class="form-group">          
        {% csrf_token %}            
          {{ form.tipo.label_tag }}
          {{ form.tipo }}          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal">Selectionar</button>
      </div>
    </form>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $(".recado").on("click", function(){
    var depoimento = $(this).attr("data-id");
    $('#msg-motivadora').attr('action', "/nova_mensagem/"+depoimento+"/");

  });
  $("#exampleModal").modal('show');
  $("#enviarmsg").on("click", function(){
    $('#msg-motivadora').submit();
  });
</script>
{% endblock %}
